.mainSection {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 4rem 5rem;
  background-color: var(--black);
}

.companyInfo {
  display: flex;
  flex-direction: row;
}

.companyLogo {
  margin-right: 2rem;
}

.companyLogo img {
  height: 7rem;
}

.links svg {
  min-width: 5px;
  margin-right: .5rem;
}

.links .contact {
  display: flex;
  align-items: center;
  flex: row;
}

.links .contact p {
  display: flex;
  align-items: center;
  margin-bottom: .3rem;
  color: var(--gray-400);
  transition: 300ms;
}

.links .contact p:hover {
  color: var(--gray-600);
}

.companyName {
  font-size: 1.2rem;
  border-bottom: 2px solid var(--gray-600);
  padding-bottom: .2rem;
  margin-bottom: .5rem;
  color: var(--gray-300);
  font-weight: bold;
}