.header {
  background: var(--gray-700);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.4rem 0;
  position: sticky;
  width: 100%;
  z-index: 10;
  top: 0;
  border-bottom: 1px solid var(--gray-700);
  box-shadow: 0px 10px 20px var(--black-shadow);
  transition: .5s;
}

.cta {
  border-bottom: 2px solid var(--green-500);
  font-weight: bold;
  letter-spacing: 1px;
}


.cta:hover {
  color: var(--green-500);
  border-bottom: 2px solid var(--green-700);
}

.transparentHeader {
  background: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  position: sticky;
  width: 100%;
  top: 0;
  border-bottom: 1px solid var(--gray-400);
  transition: .5s;
}

.header .logo {
  height: 3.5rem;
  transition: .5s;
}

.transparentHeader .logo {
  height: 4.5rem;
  transition: .5s;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 1rem;
}

header li a {
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: var(--gray-100);
  padding-bottom: 0.5rem;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
}

header li a:hover {
  color: var(--green-500);
  border-bottom: 2px solid var(--green-500);
}

header li a p {
  margin-left: .5rem;
}

.highlight {
  border: var(--white) solid 1px;
  border-radius: 20px;
  padding: 1rem;
  transform: translateY(-4px);
}

.highlight:hover {
  border: var(--green-500) solid 1px;
}

.events p {
  color: var(--gray-400);
}

.events svg {
  color: var(--gray-400);
}

.events a:hover {
  border: none;
}

.inProgress {
  background-color: var(--gray-100);
  position: absolute;
  padding: 5px 10px 5px 5px;
  font-weight: bolder;
  color: var(--blue-500);
  transform: translateY(30px);
  border-radius: 5px;
  transition-duration: 2s;
  transition-delay: .5s;
}

.inProgress span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.inProgress span svg {
  margin-right: 5px;
}

.transparent {
  opacity: 0;
  display: none;
  transition-duration: 2s;
  transition-delay: .5s;
}

@media (max-width: 1280px) {
  header ul li {
    list-style: none;
    padding: 1rem 0;
  }
  
  header > ul a p {
    color: #ffffff00;
    display: none;
    max-width: 0;
  }

  .cta a p {
    display: flex;
    flex-grow: 1;
    align-items: end;
  }

  header a {
    margin: 0 .7rem;
    padding-left: 0 .7rem;
  }

  header svg {
    margin: 0;
  }
}

@media (max-width: 768px) {
  header > ul li {
    display: none;
  }

  header aside {
    display: flex;
    flex-grow: 1;
    max-width: 20rem;
    justify-content: end;
  }
}