.header .logo {
  height: 3rem;
  transition: .5s;
}

.transparentHeader .logo {
  height: 3.5rem;
  transition: .5s;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 1rem;
}

header li a {
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--gray-100);
  padding-bottom: 0.5rem;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
}

header li a:hover {
  color: var(--green-500);
  border-bottom: 2px solid var(--green-500);
}

header li a p {
  margin-left: .5rem;
}

.highlight {
  border: var(--white) solid 1px;
  border-radius: 20px;
  padding: 1rem;
  transform: translateY(-4px);
}

.highlight:hover {
  border: var(--green-500) solid 1px;
}

@media (max-width: 1280px) {
  header ul li {
    list-style: none;
    padding: 1rem 0;
  }
  
  header a p {
    color: #ffffff00;
    visibility: hidden;
    max-width: 0;
  }

  header a {
    margin: 0 .7rem;
    padding-left: 0 .7rem;
  }

  header svg {
    margin: 0;
  }
}

@media (max-width: 768px) {
  header > ul li {
    display: none;
  }

  header aside {
    max-width: 6rem;
  }
}