.main {
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  padding: 0 0 0 10%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 40%;
  animation: rise 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes rise {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.aside {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%;
  animation: rise-back 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes rise-back {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-width: 40rem;
  height: 30rem;
  border-radius: 10px;
  animation: shadow 2s;
  box-shadow: 
    5px 5px 10px rgba(0, 0, 0, 0.5),
    15px 15px 0px #2f43a58e
}

@keyframes shadow {
  0% {
    box-shadow: 
    0px 0px 0px #2f43a58e
  }
  100% {
    box-shadow: 
    5px 5px 10px rgba(0, 0, 0, 0.5),
    15px 15px 0px #2f43a58e
  }
}

.bannerImage {
  max-height: 35rem;
  filter: brightness(0.8), saturate(1.2);
}

.section {
  margin-right: 2rem;
}

.section h1 {
  font-family: 'Kanit';
  font-size: 3rem;
  margin-bottom: 2rem;
  line-height: 3rem;
}

.section p {
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 1rem 0;
}

.section a {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  font-size: 1.5rem;
  background-color: transparent;
  padding: 0.7rem 1rem;
  color: var(--green-500);
  font-weight: bolder;
  transition: .5s;
}

.section svg {
  animation: zig-zag 2s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

@keyframes zig-zag {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-7px);
  }
  100% {
    transform: translateX(0);
  }
}

.section a:hover {
  filter: brightness(.8);
  transform: translateX(.7rem);
}

.section a span {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  color: var(--green-500);
  font-weight: bolder;
}

@media (max-width: 1280px) {
  .main {
    padding: 0 10%;
  }
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .section {
    width: auto;
    margin-top: 3rem;
  }

  .section h1 {
    font-size: 2.4rem;
  }

  .section p {
    font-size: 1rem;
  }

  .section a span {
    font-size: 1.2rem;
  }
  
  .aside {
    width: auto;
  }

  .imageContainer {
    width: 70%;
    height: 12rem;
    margin: 0 0 5rem 0;
  }

  .bannerImage {
    max-height: 20rem;
    object-fit: cover;
  }
}
