.main {
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  padding: 0 0 0 10%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 40%;
  animation: rise 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes rise {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%;
  animation: rise-back 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes rise-back {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.slider svg {
  cursor: pointer;
}

.slider svg:hover {
  color: var(--gray-400);
}

.sliderPosition {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 15px;
  margin: 1rem 0 2rem;
}

.ball {
  width: 7px;
  height: 7px;
  background-color: var(--white);
  border-radius: 50%;
  margin: 0 .3rem;
  box-shadow: 0 2px 4px var(--black-shadow);
  opacity: .5;
  transition: 300ms;
}

.selectedBall {
  width: 10px;
  height: 10px;
  background-color: var(--green-500);
  border-radius: 50%;
  margin: 0 .3rem;
  box-shadow: 0 2px 4px var(--black-shadow);
  transition: 300ms;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 40rem;
  height: 28rem;
  border-radius: 10px;
  background-color: var(--black-shadow);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, .7);
}

.bannerImage {
  height: 30rem;
  filter: brightness(0.8), saturate(1.2);
  animation: fade-in 1s;
}

.changingBannerImage {
  height: 30rem;
  filter: brightness(0.8), saturate(1.2);
  animation: fade-out 1s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section {
  margin-right: 2rem;
}

.section h1 {
  font-family: 'Kanit';
  font-size: 3rem;
  margin-bottom: 2rem;
  line-height: 3rem;
}

.section p {
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 1rem 0;
}

.section a {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  font-size: 1.5rem;
  background-color: transparent;
  padding: 0.7rem 1rem;
  color: var(--green-500);
  font-weight: bolder;
  transition: .5s;
}

.section svg {
  animation: zig-zag 1s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

@keyframes zig-zag {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0);
  }
}

.section a:hover {
  filter: brightness(.8);
  transform: translateX(.7rem);
}

.section a span {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  color: var(--green-500);
  font-weight: bolder;
}

@media (max-width: 1280px) {
  .main {
    padding: 0 10%;
  }

  .imageContainer {
    width: 70%;
    max-height: 24rem;
  }

  .bannerImage {
    height: 24rem;
    object-fit: cover;
  }
  
  .changingBannerImage {
    height: 24rem;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .section {
    width: auto;
    margin-top: 3rem;
  }

  .section h1 {
    font-size: 2.4rem;
  }

  .section p {
    font-size: 1rem;
  }

  .section a span {
    font-size: 1.2rem;
  }
  
  .aside {
    width: auto;
  }

  .imageContainer {
    max-width: 22rem;
    max-height: 16rem;
  }

  .bannerImage {
    height: 18rem;
  }
  
  .changingBannerImage {
    height: 18rem;
    object-fit: cover;
  }

  .sliderPosition {
    margin: 1rem 0 2rem;
  }
}
