.mainSection {
  width: 100%;
  padding: 6rem 4rem;
}

.mainSection a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.mainSection h1 {
  font-size: 1.8rem;
  margin-bottom: 2.5rem;
  line-height: 0.7rem;
  border: none;
}

.mainSection button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--green-500);
  max-width: max-content;
  border-radius: 10px;
  border: none;
  padding: 1rem ;
  font-weight: bolder;
  font-size: 1.7rem;
  color: var(--gray-100);
  box-shadow: 0 15px 20px var(--soft-black-shadow);
  animation: go-back 2s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
  transition: 300ms;
}

.mainSection button:hover {
  background-color: var(--green-700);
}

.mainSection button svg {
  margin-left: .5rem;
}

@keyframes go-back {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1280px) {
  .mainSection h1 {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }

  .mainSection button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--green-500);
    border: 2px solid var(--green-500);
    max-width: max-content;
    border-radius: 10px;
    padding: 0.5rem 0.8rem;
    font-weight: bolder;
    font-size: 1.4rem;
    color: var(--gray-100);
    box-shadow: 0 10px 15px var(--soft-black-shadow);
  }
}