.sectionDarkBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-800);
  padding: 5rem 0;
  width: 100%;
}

.sectionLightBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-600);
  padding: 5rem 0;
  width: 100%;
}

section h1 {
  padding-bottom: 1rem;
  font-family: 'Kanit';
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
  line-height: 3rem;
  border-bottom: 3px solid var(--green-500);
  animation: rise 2s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.displayNone {
  display: none;
}

@keyframes rise {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.goalSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1080px;
  animation: rise 2s cubic-bezier(0.47, 0, 0.745, 0.715);
} 

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-width: 30rem;
  height: 20rem;
  border-radius: 10px;
  box-shadow: 
    10px 10px 0px rgba(47, 173, 74, 0.1),
    20px 20px 1px rgba(47, 173, 74, 0.05); 
}

#leftImageContainer {
  margin-right: 5rem;
}

#rightImageContainer {
  margin-left: 5rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  max-width: 30rem;
}

.textContainer span {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  animation: rise 2s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.textContainer span svg {
  margin-right: 1rem;
  height: 2rem;
  width: 2rem;
  color: var(--green-300);
}

.textContainer h2 {
  font-family: 'Kanit';
  font-size: 2rem;
  text-align: center;
}

.textContainer p {
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 1rem 0;
}

.button {
  display: flex;
  justify-content: end;
  margin: 2rem 0;
  background-color: var(--green-500);
  border: 2px solid var(--green-500);
  border-radius: 10px;
  padding: 0.8rem 1rem;
  font-weight: bolder;
  font-size: 1.3rem;
  color: var(--gray-100);
  box-shadow: 0 15px 20px var(--soft-black-shadow);
  animation: go-back 2s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

.button svg {
  margin-left: .5rem;
}

@keyframes go-back {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .item {
    max-width: 300px;
  }

  .item svg {
    margin-bottom: 1rem;
  }

  h1 {
    padding-bottom: 0rem;
    font-size: 1.7rem;
    margin-bottom: 2rem;
    line-height: 3rem;
    border-bottom: 3px solid var(--green-500);
    animation: rise 2s cubic-bezier(0.47, 0, 0.745, 0.715);
  }
}

