:root {
  --white: #fff;
  --black: #111;
  --black-shadow: #00000088;
  --soft-black-shadow: #00000044;
  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;

  --green-300: #8ba191;
  --green-500: #1b963b;
  --green-700: #105723;
  --blue-500: #2f43a5;
  --red-500: #af0911;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 6px;
}

.header {
  width: 100%;
  z-index: 1000;
  top: 0;
  position: fixed;
}

*::-webkit-scrollbar-track {
  background: var(--black);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--blue-500);
  border-radius: 20px;
  border: 1px solid var(--black);
}

body {
  background-image: url(./assets/body-background.jpg);
  background-size: 110%;
  backdrop-filter: grayscale(.7) blur(5px);
  -webkit-backdrop-filter: grayscale(.7) blur(5px);
  color: var(--gray-100);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.nav {
  position: fixed;
}

a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .App {
    max-width: 768px;
    overflow-x: hidden;
    justify-content: center;
  }

  
  body {
    background-size: 150%;
    background-position-x: center;
    background-position-y: -5%;
    background-image: url(./assets/body-background-vertical.jpg);
    backdrop-filter: grayscale(0) blur(3px) brightness(0.4);
    -webkit-backdrop-filter: grayscale(0) blur(3px) brightness(0.4);
  }
}


